artifacts/** filter=lfs diff=lfs merge=lfs -text
images/** filter=lfs diff=lfs merge=lfs -text
CC/**/screenshots/** filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
CC/**/screenshots/** !text !filter !merge !diff
